#app__left-alerts-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#app__left-alerts-modal.show {
  display: flex;
}

#app__left-alerts-modal h2, #app__left-alerts-modal p {
  margin-bottom: 5px;
  color: white;
}

#app__left-alerts-modal input {
  margin-bottom: 5px;
  padding: 5px;
  font-size: 16px;
}

#alerts-modal-close-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: red;
  color: white;
  z-index: 2;
  cursor: pointer;
  font-size: 16px;
  border: 0;
  border-radius: 15px;
}

#app__left-alerts-display {
  padding-top: 5px;
}

#add-alert-btn {
  margin-top: 5px;
}

.alert-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
}

.alert-row button {
  margin-left: 5px;
  font-size: 12px;
}